{% extends "base_generic.html" %}

{% block title %}<title>Exhibit</title>{% endblock %}


{% block content %}

<h1><u>Exhibit Detail for id - {{exhibit.id}} - {{exhibit.name}} located in {{exhibit.zoo.name}}</u></h1>

<h1>Neighbors</h1>
{% for neighbor in exhibit.fromExhibit.all %}
	<p><a href='{{ toExhibit.id }}'>{{neighbor.direction}} to {{neighbor.toExhibit.name}}</a></p>
{% endfor %}

<h1>Animals</h1>
{% for animal in exhibit.Exhibit.all %}
	<p><a href='/zoo/animal/{{animal.id}}'>{{animal.name}}</a></p>
{% endfor %}

{% endblock %}
